body {
  margin: 0;
  background: #c9c9c9;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  background: #7a9584;
  padding: 10px 20px;
}

.navbar .avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-left: 20px;
}

.navbar a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.navbar a.active {
  font-weight: bold;
  border-bottom: 3px solid white;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 40px;
}

.form-box {
  width: 420px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.form-box h2 {
  margin: 0;
}

.sub {
  color: gray;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px;
  background: #8da99a;
  color: white;
  border: none;
  border-radius: 8px;
  margin-bottom: 12px;
}

button {
  width: 100%;
  padding: 12px;
  background: #7a9584;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.result-box {
  width: 420px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.result-box h1 {
  color: #7a9584;
  font-size: 45px;
}

.note {
  color: gray;
  font-size: 14px;
}
.result-box h3 {
  margin-top: 0;
}