
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #c9c9c9;
}


.navbar {
  width: 100%;
  background: #79967f;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  border-bottom: none;
}

.navbar img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 35px;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.navbar a:hover {
  opacity: 0.7;
}

.bill-box {
  background: #94a79a;
  width: 350px;
  padding: 25px;
  margin: 50px auto 40px;
  border-radius: 12px;
  border: 4px none;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.bill-box h3 {
  font-size: 20px;
  margin: 0;
}

.bill-box h1 {
  margin: 10px 0;
  font-size: 38px;
  font-weight: bold;
}

.bill-box p {
  margin: 5px 0 0;
  color: #333;
  font-size: 16px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 20px;
  flex-wrap: wrap;
}

.card {
  width: 260px;
  background: #fff;
  border-radius: 18px;
  padding: 30px 20px;
  text-align: left;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 75px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 20px;
  margin: 5px 0 10px;
}

.card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 18px;
}


.card .arrow {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #79967f;
}

.card .arrow:hover {
  color: #5c7a66;
}