body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #bfbfbf;
}
.container {
  width: 80%;
  max-width: 900px;
  margin: 50px auto;
  display: flex;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.left-box {
  width: 50%;
  background: #7f9c87;
  padding: 30px;
  text-align: center;
  color: white;
}

.logo-box {
  margin-top: 30px;
  padding: 20px;
  border: 2px solid #3c7bbd;
}

.logo-box img {
  width: 200px;
}

.logo-img {
    width: 200px;
    margin-top: 20px;
}

.right-box {
  width: 50%;
  padding: 40px;
  text-align: center;
}

.input-box {
  width: 80%;
  padding: 12px;
  margin: 15px 0;
  border: none;
  border-radius: 25px;
  background: #8ba48f;
  color: white;
  font-size: 15px;
}

.input-box::placeholder { color: white; }
.forgot {
    display: block;
    width: 80%;
    margin: -10px auto 10px auto;
    text-align: right;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.log.in-btn{
  width: 50%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  background: #8ba48f;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

.signup-text { margin-top: 15px; font-size: 13px; }
.logo-img {
    width: 200px;
    margin-top: 20px;
}
