body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #bfbfbf;
  text-align: center;
}

.container {
  margin-top: 50px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.logo-img {
  width: 230px;
  margin: 25px auto;
  display: block;
}

.subtitle {
  font-size: 18px;
  color: rgb(0, 0, 0);
  margin: 10px 0;
  font-weight: 600;
}

.start-btn {
  display: inline-block;
  margin-top: 25px;
  padding: 14px 40px;
  background: #8fae98;
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  transition: 0.3s ease;
}

.start-btn:hover {
  background: #769680;
}
